{% extends "layout.html" %}
{% block title %}Edit Post{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content%}
<h1> Edit Posts Page </h1>
        <form action="/editpost/{{post_id}}" method="post">
             <div> <label for="title">Post Title:</label> </div>
             <div> <input type="text" id="title" name="title" value="{{title}}"> </div>
             <div> <label for="title">Post Content:</label> </div>
             <div>  <textarea id="content" name="content" rows="7" cols="30">{{content}}</textarea> </div>
             <div>
                    <a href="{{ url_for('viewpost', post_id=post_id) }}"><button type="button" class="btn">Cancel</button></a>
                 <input type="reset" class="btn">
                 <input type="submit" value="Submit" class="btn">
             </div>
          </form>

{% endblock %}