{% extends "layout.html" %}
{% block title %}Passages Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block heading %}Passages Home{% endblock %}
{% block content%}

{% for post in posts %}
<div style="overflow:hidden; margin:1em 0;">
    <div style="float:left; display:inline-block;"> <h2 style="margin:0;">{{post[0]}}</h2> </div>
    <div style=" display:inline-block; float:right; ">
    First posted: {{ reformatSQLiteDate(post[2]) }} </div>
</div>



<div><img class="img-responsive" src="{{ url_for('static', filename='images/'+post[4]) }}"  alt=" {{post[5]}} "></div>

<div class="post-text">{{ new_lines_paragraph(post[1]) }}</div>

<div><a href="{{ url_for('viewpost', post_id=post[3]) }}"><button class="btn"> Read More</button> </a></div>
{% endfor %}
{% endblock %}