<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% block head %}
<link rel="stylesheet" href="{{  url_for('static', filename='styles.css')  }}">
<title>{% block title%}{% endblock %}</title>
{% endblock %}
    </head>
    <body>
    <div class="banner-nav-container">
        <nav>
            <ul>
            <li><a href="{{ url_for('index') }}"> Home </a></li>
                {% if session %}
                {% if session['permission'] >= 0 %}
            <li><a href="{{ url_for('newpost') }}"> New Post </a></li>
            <li><a href="{{ url_for('commentlist') }}"> Manage Comments </a></li>

                {% if session['permission'] == 0  %}
            <li><a href="{{ url_for('installer') }}"> Installer </a></li>
            <li>
            <div class="drop-cover">
            <a href=""  class="drop-down-button">Tables </a>
            <div class="drop-nav">
                <ul class="inner-nav">
                    <li><a href="{{ url_for('viewtable', tablename='post') }}"> post </a></li>
                    <li><a href="{{ url_for('viewtable', tablename='comment') }}"> comment </a></li>
                    <li><a href="{{ url_for('viewtable', tablename='user') }}"> user </a></li>
                    <li><a href="{{ url_for('viewtable', tablename='master-data') }}"> master </a></li>
                </ul>
            </div>
          </div>
            </li>
                {% endif %}
                {% endif %}
                {% endif %}
            {% if session %}
            <li><a href="{{ url_for('logout') }}"> Log-Out </a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}"> Log-in </a></li>
            {% endif %}
</ul>
        </nav>
        <div >
            <img class="banner" src="{{ url_for('static', filename='images/passages_banner.svg') }}" alt="Banner">
            <h1>{% block heading%}{% endblock %}</h1>
        </div>
</div>




        <div class="developer-box" style="text-align:center; z-index:2;">
            {% if session %}
            <p>Session Variables</p>
            {% for key, value in session.items() %}
                <p>{{ key }} : {{ value }}</p>
            {% endfor %}
            {% else %}
            <p>No Session Running</p>
            {% endif %}
        </div>

        <div class="container"> 
            {% block content %}
            {% endblock %}
        </div>
        <hr/>
        <footer>
            {% block footer %}
            &copy; 2021 by Paul
            {% endblock %}
        </footer>
    </body>
</html>